h1 {
font-family: Arial;
color: red;
text-align: center;
}
p {
font-family: Arial;
color: white;
font-size: 16px;
text-align: center;
}
html {
  background: url(http://il9.picdn.net/shutterstock/videos/12359456/thumb/1.jpg) no-repeat center fixed;
  background-size: cover;
}
div.img {
  margin: 5px;
  border: 1px solid white;
  float: left;
  width: 180px;
}
div.img: hover {
  border: 1px solid white;
}
div.img img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: Verdana;
  border: 1px solid white;
}
ul {
  text-align: center;
  list-style-position: inside;
  background: #DD1F1F;
  font-size: 20px;
  font-family: Arial;
  color: white;
  padding: 20px;
  width: 500px;
  margin: auto;
}

ol {
  text-align: center;
  list-style-position: inside;
  background: #DD1F1F;
  font-size: 20px;
  font-family: Arial;
  color: white;
  padding: 20px;
  width: 500px;
  margin: auto;

}

ul li {
  background:#E3C7C7;
  list-style-position: inside;
  padding: 5px;
  margin-left: 40px;
  font-size: 14px;
  font-family: Arial;
  color: white;
  width: 500px;
  margin: auto;

}
ol li {
  background:#E3C7C7;
  list-style-position: inside;
  padding: 5px;
  margin-left: 40px;
  font-size: 14px;
  font-family: Arial;
  color: white;
  width: 500px;
  margin: auto;

}
